a {
	color: $white;
	text-decoration: none;
	transition: 0.5s;

	&:hover {
		color: $white;
	}

	&:visited {
		color: $white;
	}
}

section, footer {
	background-size: cover;
	@include clearfix();
}

section.header {
	background: url('../img/promo_bg.jpg');

	nav {
		@include clearfix();
		width: 75%;
		margin: 0 auto;

		a.header-logo {
			display: block;
			float: left;
			width: 156px;
			height: 92px;
			background: url('../img/restaurant_sprite.png') no-repeat 0 -73px;
		}

		ul.header-nav {
			float: right;
			margin-top: 40px;
			li {
				display: inline-block;
				color: $white;
				font-size: 1.13em;
				margin-left: 40px;
			}

			.header-soc-icons {
				float: right;

				a {
					display: block;
					float: left;
					width: 18px;
					height: 23px;
					margin-left: 10px;
					

					&:hover {
						opacity: 0.7;
					}
				}

				.header-twitter {
					background: url('../img/restaurant_sprite.png') no-repeat -503px -75px;
				}
				.header-youtube {
					background: url('../img/restaurant_sprite.png') no-repeat -540px -75px;
				}
				.header-facebook {
					background: url('../img/restaurant_sprite.png') no-repeat -574px -73px;
				}
			}
		}
	}

	h1 {
		width: 60%;
		margin: 80px auto 0;
		color: $white;
		font-size: 6em;
		text-align: center;

		&:after {
			content: '';
			display: block;
			margin: 30px auto 0;
			background: url('../img/restaurant_sprite.png') no-repeat -165px -73px;
			width: 232px;
			height: 43px;
		}
	}

	.header-buttons {
		text-align: center;

		a {
			display: inline-block;
			margin: 30px 10px 120px;

			button {
				width: 190px;
				height: 50px;
				outline: none;
				border: 1px solid rgba(244,242,240, 0.9);
				color: $white;
				background: rgba(244,242,240, 0.5);
				transition: 0.3s;

				&:hover {
					cursor: pointer;
					background: rgba(0,0,0, 0.5);
					border: 1px solid rgba(0,0,0, 0.9);
				}
			}
		}
	}
}

section.just-food {
	background: url('../img/patt_1.png');
	padding: 80px 18% 45px;
	

	div.just-food-left {
		width: 40%;
		float: left;
		text-align: center;

		h2 {
			font-size: 2.3em;
			color: $gold;
			margin-bottom: 20px;

			&:after {
				content: '';
				display: block;
				margin: 10px auto 0;
				background: url('../img/restaurant_sprite.png') no-repeat -165px -141px;
				width: 247px;
				height: 24px;
			}			
		}
		p {
			margin-bottom: 50px;
		}
		img {
			width: 180px;
			margin-right: -65px;
		}
	}

	img.just-food-img {
		margin-top: -30px;
		margin-right: -30px;
		float: right;
		width: 500px;
	}
}

section.ingredients {
	background: url('../img/bg_2.jpg');

	div.ingredients-right {
		width: 35%;
		float: right;
		margin-right: 13%;
		margin-top: 100px;
		margin-bottom: 90px;
		padding: 50px;
		box-sizing: border-box;
		background: rgba(0,0,0, 0.5);
		color: $white;
		text-align: center;

		h2 {
			font-size: 2.5em;
			margin-bottom: 20px;
			&:after {
				content: '';
				display: block;
				margin: 10px auto 0;
				background: url('../img/restaurant_sprite.png') no-repeat 0 -173px;
				width: 247px;
				height: 24px;
			}	
		}
		p {
			margin-bottom: 30px;
		}
		img {
			width: 100px;
			margin-right: 20px;
		}
	}
}

section.menu {
	background: url('../img/patt_2.png');
	padding: 90px 0 25px;
	text-align: center;
	vertical-align: top;

	div.menu-part {
		display: inline-block;
		width: 27%;
		margin: 0 5% 20px;
		vertical-align: top;


		h2 {
			font-size: 2.3em;
			color: $gold;
			margin-bottom: 20px;

			&:after {
				content: '';
				display: block;
				margin: 10px auto 0;
				background: url('../img/restaurant_sprite.png') no-repeat -165px -141px;
				//background-size: 100px 20px;
				width: 247px;
				height: 24px;
			}	
		}

		li {
			margin-bottom: 15px;
			padding: 5px;
			position: relative;
		}

		li.menu-part-special {
			border: 1px solid rgba($gold, 0.3);
			&:before {
				content: 'Special';
				display: block;
				position: absolute;
				top: -22px;
				right: 0;
				background: rgba($gold, 0.6);
				color: $white;
				padding: 3px 7px;
			}
		}

		h4 {
			color: $gold;
			text-align: left;
			font-size: 1.4em;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid rgba($gold, 0.3);
			span.menu-price {
				display: block;
				float: right;
			}
		}
		p {
			text-align: left;

		}

		&:last-child {
			margin-top: -90px;
		}
	}
}

section.reviews {
	background: url('../img/bg_3.jpg');
	padding: 90px 0;

	div.reviews-wrap {
		width: 48%;
		margin: 0 auto;
		padding: 60px;
		box-sizing: border-box;
		background: rgba(0,0,0, 0.5);
		color: $white;
		text-align: center;

		h2 {
			font-size: 2.5em;
			margin-bottom: 20px;
			&:after {
				content: '';
				display: block;
				margin: 10px auto 0;
				background: url('../img/restaurant_sprite.png') no-repeat 0 -173px;
				width: 247px;
				height: 24px;
			}
		}
		p {
			font-size: 1.4em;
			position: relative;
			margin-bottom: 25px;
			line-height: 1.5;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -25px;
				left: -35px;
				background: url('../img/restaurant_sprite.png') no-repeat -503px -172px;
				width: 32px;
				height: 25px;
			}
		}
	}
}

section.booking {
	background: url('../img/patt_1.png');
	padding: 90px 13%;

	img {
		width: 230px;
		margin-right: 20px;
	}

	div.book-table {
		width: 380px;
		margin-right: 60px;
		float: right;
		text-align: center;

		h2 {
			font-size: 2.5em;
			color: $gold;
			margin-bottom: 20px;
			&:after {
				content: '';
				display: block;
				margin: 10px auto 0;
				background: url('../img/restaurant_sprite.png') no-repeat -165px -141px;
				width: 247px;
				height: 24px;
			}
		}

		form {
			margin-top: 30px;

			label {
				display: block;
				float: left;
				text-align: left;
				color: $gold;
				width: 160px;
				margin-bottom: 15px;
			}
			input, select {
				display: block;
				margin-top: 5px;
				width: 160px;
				height: 25px;
				outline: none;
				padding: 3px 5px;
				font-size: 1.1em;
				color: #858585;
				border: 2px solid rgba(202,199,199, 0.6);
				background: rgba(#fff, 0.4);				

				&:active, &:focus {
					border: 2px solid rgba($gold, 0.6);
				}
			}

			label:nth-child(1), 
			label:nth-child(3) {
				margin-left: 10px;
				margin-right: 35px;
			}
			label:nth-child(4) {
				margin-bottom: 40px;
			}

			select {
				width: 173px;
				height: 35px;
			}
			input[type="submit"] {
				height: auto;
				width: 170px;
				margin: 0 auto;
				background: $gold;
				color: $white;
				padding: 7px;
				border: none;
				transition: 0.5s;
				&:hover {
					cursor: pointer;
					background: rgba($gold, 0.7);
					border: $gold;

				}
			}
		}
	}


}

footer {
	background: #121212;
	color: $white;
	padding: 40px;
	text-align: center;


	ul  {

		li {
			vertical-align: top;
			display: inline-block;
			margin: 0 70px;
			width: 14%;

			h4 {
				font-size: 1.5em;
				margin-bottom: 10px;

				&:after {
					content: '';
					display: block;
					margin: 10px auto 0;
					background: url('../img/restaurant_sprite.png') no-repeat -265px -178px;
					width: 199px;
					height: 19px;
				}
			}
		}

		li.about {
			width: 23%;
		}

		li.hours {
			margin-left: 30px; 
		}

		li.location {

		}

		ul.footer-soc-icons {
			margin-top: 50px;

			li {
				display: inline-block;
				margin: 0 1px;

				a {
					display: inline-block;
				}

				.footer-soc-fb {
					background: url('../img/restaurant_sprite.png') no-repeat -503px -124px;
					width: 9px;
					height: 16px;
				}

				.footer-soc-you {
					background: url('../img/restaurant_sprite.png') no-repeat -523px -124px;
					width: 15px;
					height: 17px;
				}

				.footer-soc-tw {
					background: url('../img/restaurant_sprite.png') no-repeat -550px -126px;
					width: 15px;
					height: 13px;
				}
			}
		}
	}
}