@media only screen and (min-width: 811px) and (max-width: 1024px) { 

section.header {
	nav {

		a.header-logo {
			float: none;
			margin: 0 auto;
		}

		ul.header-nav {
			display: none;
		}
	}

	h1 {
		width: 100%;
		font-size: 4em;
	}

	.header-buttons {

		a {
			margin-top: 70px;
			margin-bottom: 70px;

			button {
				width: 220px;
			}
		}
	}
}

section.just-food {
	padding: 40px;

	div.just-food-left {
		width: 70%;
		margin: 0 auto;
		float: none;

		h2 {
			font-size: 2.5em;
			margin-bottom: 40px;
		}


		img {
			display: none;
		}
	}

	img.just-food-img {
			width: 400px;
			float: none;
			display: block;
			margin: 0 auto;
		}
}

section.ingredients {
	padding: 40px 0;

	div.ingredients-right {
		width: 75%;
		float: none;
		margin: 0 auto;
		padding: 30px;

		h2 {
			font-size: 2.5em;
		}
	}
}

section.menu {
	padding: 35px 10px;

	div.menu-part {
		display: block;
		width: 75%;
		margin: 0 auto 30px;

		h2 {
			font-size: 1.9em;
			margin-bottom: 15px;
		}
		li {
			margin-bottom: 12px;
			padding: 5px;
		}

		h4 {
			font-size: 1.2em;
			padding-bottom: 4px;
			margin-bottom: 4px;
		}

		&:last-child {
			margin-top: 0;
		}
	}
}

section.reviews {
	padding: 40px 0;

	div.reviews-wrap {
		width: 75%;
		padding: 40px;

		h2 {
			font-size: 2.5em;
			margin-bottom: 20px; 
		}

		p {
			font-size: 1.2em;
			margin-bottom: 15px;
			line-height: 1.2;
		}
	}
}

section.booking {
	padding: 50px 10px;
	text-align: center;

	img {
		width: 240px;
		margin-right: 20px;
	}
	div.book-table {
		width: 700px;
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-top: 25px;

		h2 {
			font-size: 2em;
		}
		p {
			width: 80%;
			margin: 0 auto;
		}

		form {

			label {
				width: 340px;
				display: inline-block;
				float: none;
			}

			input, select {
				display: inline-block;
				width: 320px;
				font-size: 1em;
			}
			select {
				width: 333px;
				height: 35px;
			}

			label:nth-child(1), 
			label:nth-child(3) {
				margin-left: 0;
				margin-right: 0;
			}
			label:nth-child(4) {
				margin-bottom: 30px;
			}

			input[type="submit"] {
				width: 180px;
			}
		}
	}
}

footer {
	padding-bottom: 10px;

	ul {

		li {
			display: block;
			margin: 0 auto 50px;
			width: 70%;

			h4 {
				font-size: 1.8em;
			}
		}

		li.about {
			width: 70%;
		}

		li.hours {
			margin-left: auto; 
		}

		ul.footer-soc-icons {
			margin-top: 30px;

			li {
				width: auto;
				margin: 0 5px;
			}
		}
	}
}

}